@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");

.container {
  display: grid;
  height: 100vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 4fr 0.5fr 0.5fr;
  grid-template-areas:
    "logoid . ."
    "navid navid navid"
    "sidebar content content"
    "section-footer section-footer section-footer"
    "footerclass footerclass footerclass";
  grid-gap: 0.4rem;
  justify-content: center;
  align-content: center;
}
#logoid {
  background: #7ff9fd;
  grid-area: logoid;
}
#navid {
  grid-area: navid;
  background: #7ff9fd;
}

.sidebar {
  grid-area: sidebar;
  background: #7ff9fd;
}
.main {
  grid-area: content;
  background: #7ff9fd;
}
.section-footer {
  grid-area: section-footer;
  background: #7ff9fd;
}
.footerclass {
  grid-area: footerclass;
  background: #7ff9fd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5%;
}
.logo {
  cursor: pointer;
}
.navflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5%;
}
.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 2px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffefdb;
}

@media only screen and(max-width:550px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 1fr 1fr;
    grid-template-areas:
      "logoid"
      "contacid"
      "navid"
      "sidebar"
      "content";
  }
}
